<template>
    <div class="container">
        <div class="row">

        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            allJobs: [],
            id: '',
            company_name: '',
            description: '',
            location: '',
            country: '',
            salary: '',
        }
    },
    created() {
        axios.get('all-jobs-circular')
        .then(response => {
            console.log(response)
        }).catch(error => {
            console.log(error)
        })
    }
}
</script>

<style scoped>

</style>
